@using VBJ._13B.Group1.WebApp.Models
@model ToDoItem

@{
}

<h1>ToDo - Create nézet</h1>

@using (Html.BeginForm("AddToDo", "ToDo"))
{
    <label>A teendő címe</label>
    @Html.TextBoxFor(toDo => toDo.Title)

    <label>Elkészült-e a teendő?</label>
    @Html.CheckBoxFor(toDo => toDo.IsCompleted)

    <input type="submit" />
}

