@using VBJ._13B.Group1.WebApp.Models
@model ToDoItem
@{
}

<h1>Edit nézet</h1>

@using (Html.BeginForm("EditToDo", "ToDo"))
{
    // segít, hogy elküldjük az id-t az adott elemnek
    @Html.HiddenFor(toDo => toDo.ID)

    <label>A teendő címe</label>
    @Html.TextBoxFor(toDo => toDo.Title)

    <label>Elkészült-e a teendő?</label>
    @Html.CheckBoxFor(toDo => toDo.IsCompleted)

    <input type="submit" />
}