@{
    ViewData["Title"] = "Calculator";
}

<h2>Összeadás</h2>
@* Form *@
@using (Html.BeginForm("Add", "Calculator", FormMethod.Post))
{
    // első input
    <label for="number1">Első szám:</label>
    <input type="text" name="number1" />

    // második input
    <label for="number2">Második szám:</label>
    <input type="text" name="number2" />

    // submit
    <input type="submit" />
}
<h2>Kivonás</h2>
@using (Html.BeginForm("Subtract", "Calculator", FormMethod.Post))
{
    // első input
    <label for="number1">Első szám:</label>
    <input type="text" name="number1" />

    // második input
    <label for="number2">Második szám:</label>
    <input type="text" name="number2" />

    // submit
    <input type="submit" />
}

@* Ha van eredmény, akkor írassuk ki *@
@if (ViewBag.Result != null)
{
    <p>@ViewBag.Result</p>
}